@font-face{
    font-family: "NanumGothic";
    src:url(/src/NanumGothic-Regular.ttf);
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: lightyellow;
    overflow: hidden;
    z-index: -1; 
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(247,171,241,0.2);
    animation: animate 7s linear infinite;
}

.background li:nth-child(1) {
    left: 3%;
    width: 202px;
    height: 202px;
    bottom: -202px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 16%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 83%;
    width: 232px;
    height: 232px;
    bottom: -232px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 25%;
    width: 233px;
    height: 233px;
    bottom: -233px;
    animation-delay: 5s;
}
.background li:nth-child(5) {
    left: 61%;
    width: 226px;
    height: 226px;
    bottom: -226px;
    animation-delay: 2s;
}
.background li:nth-child(6) {
    left: 73%;
    width: 234px;
    height: 234px;
    bottom: -234px;
    animation-delay: 22s;
}

.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

.intromsg{
    font-family: NanumGothic;
    margin-top: 0%;
}

.intromsg h2 {
    font-size: 2rem;
    color: #004E89;
}

.intromsg h1 {
    font-size: 3rem;
    color: tomato;
}

.intromsg p {
    font-size: 1.5rem;
    color: #004E89;
}

.start-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004E89;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.start-button:hover {
    background-color: tomato;
}
