@font-face{
  font-family: "NanumGothic";
  src:url(/src/NanumGothic-Regular.ttf);
}

.header {
  font-family: NanumGothic;
  background-color: tomato;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  max-height: 30px;
  margin: 0 auto;
}

.header .logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.header nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-left {
  display: flex;
  flex-grow: 1;
}

.nav-left a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-left a:hover {
  text-decoration: underline;
}

.header .search {
  font-family: NanumGothic;
  margin: 0 auto;
  padding: 5px;
  flex-shrink: 1;
}

.nav-right {
  display: flex;
  margin-left: auto;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-right a:hover {
  text-decoration: underline;
}
