.intro-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  }
  
  .intromsg {
  font-size: 25px;
  position: absolute;
  top: 25%;
  left: 38%;
  margin: -25px 0 0 -25px;
  max-width: 50%;
  }
  
  .intromsg h2 {
  color: #004E89;
  }
  
  .intromsg h1 {
  color: #FF6B35;
  }
  
  .intromsg p {
  color: #1A659E;
  }
  
  .start-button {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #004E89;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  }
  
  .start-button
  {
  background-color: #1A659E;
  }