.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .project-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33% - 40px);
    box-sizing: border-box;
  }
  
  .project-card h2 {
    margin-top: 0;
  }
  
  @media (max-width: 800px) {
    .project-card {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 500px) {
    .project-card {
      width: calc(100% - 40px);
    }
  }
  